@{
    ViewData["Title"] = "Home Page";
}



<div class="row pt-5" style="padding-top:150px" >
    <div class="col-6" style="color: #0a192f;">
        <h1>Welcome,Admin!</h1>
    </div>
    <div class="col-6">
    <img class="img-fluid" src="/img/Admin.svg" style="max-height: 70vh;padding-top: 140px" />
    </div>
    
</div>
